.student-menu{
    position: relative;
    left: 17.11111%;
    width: 82.99999999%;
    height: 80px;
    background-color:#9575cd ;
}

.student-menu .search-menu div{
    display: inline-block;
}

.student-menu .search-menu{
    background-color:#673ab7;
    position: absolute;
    top: 20%;
    left: 10%;
    padding: 10px;
    border-radius: 4px;
}

 .search-menu div select{
    border: none;
    outline: none;
    color: #673ab7;
     border-radius: 4px;
}

.student-menu .search-menu .school-year{
    margin-right: 5px;
    border-radius: 4px;
}
.student-menu .search-menu .falcuty{
    margin-right: 5px;
    border-radius: 4px;
}
.student-menu .search-menu .class{
    margin-right: 5px;
    border-radius: 4px;
}
